body {
  margin: 0;
  font-family: Roboto;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  background-color: #1f2937;
  padding: 0px 150px;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

p {
  margin: 0;
}

.header p,
.header a {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


.hero {
  display: flex;
  gap: 24px;
}

.ima {
  width: 500px;
  height: 200px;
  background-color: rgb(110	116	124);
  color: white;
  flex-shrink: 0;
  text-align: center;
  line-height: 200px;
}

button {
  background-color: #3882F6;
  padding: 8px 24px;
  color: #F9FAF8;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
}

.illustration {
  width: 150px;
  height: 150px;
  border: 2px solid #3882F6;
  border-radius: 5px;
}

.sec-content {
  text-align: center;
}

.sec-content h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.sec-content p {
  font-size: 16px;
  color: rgb(19, 30, 46);
}

.carrousel {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 16px 150px;
}

.carrousel > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.quote {
  background-color: #E5E7EB;
  padding: 100px 250px;
}

.quote p:first-child {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 100;
}

.quote p:last-child {
  font-weight: bold;
  text-align: right;
}


.call-to-action button {
  border: 2px solid white;
}

.call-to-action p {
  color: #E5E7EB;
}

h3 {
  color: #F9FAF8;
  margin: 0;
}

.call-to-action {
  margin: 100px 150px;
  padding: 25px 100px;
  background-color: #3882F6;
  display: flex;
  align-items: baseline;
  border-radius: 5px;
}

.call-to-action div {
  flex: 1;
}

